.holidaysTable{
    /* border-style: inset; */
     /* font-family: Arial, Helvetica, sans-serif; */
    border-collapse: collapse;
    width: 80%;
    line-height:35px;
    font-size:14px;
  } 
 .holidaysTable tr:nth-child(even){background-color: #ddd;}
.holidaysTable tr:hover {background-color:  #F2F2F2 ;} */
/* .inputTable th{
  border: 1px solid #ddd;
  padding: 8px;
} */
/* .holidaysTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #010127;
  color: white;
/* } */
 .Table_design{
    /* border-style: inset; */
     box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-top:90px;
    width: 100%;
    line-height:25px;
    font-size:12px;  
   } 
 .Table_design tr:nth-child(even){background-color: #f2f2f2}
 .Table_design tr th{
    border-collapse: collapse;
 }
.Table_design tr:hover {background-color:  #F2F2F2 ;}
.Table_design th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #495057;
  color: white;
} 
 .container {
  display: flex;
  justify-content: space-between;
} 
.left
{
  width: 30%;
  display: inline-block;
}
.right {
  width:80%;
  display: inline-block;
} 
.form-style{
  /* font-family: 'Open Sans Condensed', arial, sans; */
  width: 100%;
  padding:10%;
  background: #FFFFFF;
  margin: 50px auto;
  margin-left:-20px;
  margin-top: 95px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}
.form-style h2{
  /* background: #4D4D4D; */
  background-color: #495057;
  text-transform: uppercase;
  /* font-family: 'Open Sans Condensed', sans-serif; */
  /* color: #797979; */
  color:white;
  font-size: 14px;
  /* font-weight: 100; */
  padding: 10px;
  margin: -30px -30px 30px -30px;
}
.form-style input[type="text"],
.form-style input[type="date"],
.form-style input[type="datetime"],
.form-style input[type="email"],
.form-style input[type="number"],
.form-style input[type="search"],
.form-style input[type="time"],
.form-style input[type="url"],
.form-style input[type="password"],
.form-style textarea,
.form-style select
{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding-top: -7px;
  padding-bottom: -7px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  /* font: 16px Arial, Helvetica, sans-serif; */
  height: 35px;
}
/* .form-style textarea{
  resize:none;
  overflow: hidden;
} */
.form-style input[type="button"],
.form-style input[type="submit"]{
    background-color: #495057;
  /* background-color:#010127; */
  /* border: 1px solid #27A0A0; */
  display: inline-block;
  cursor: pointer;
  color: #FFFFFF;
  height: 35px;
  width: 40%;
  /* font-family: 'Open Sans Condensed', sans-serif; */
  font-size: 14px;
  /* padding:0 18px; */
  text-decoration: none;
  text-transform: uppercase;
}

